
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.ActiveMenuItem = "stats";
}

<h2>Stats</h2>

<div class="clear"></div>

<div class="row margin-top30">
    <table class="table span5">
        <tr>
            <td>Parsed requests</td>
            <td>@Model.ServerStats.TotalRequests</td>
        </tr>
        <tr>
            <td>Data recieved</td>
            <td>@Model.ServerStats.DataRecieved</td>
        </tr>
        <tr>
            <td>Data sent</td>
            <td>@Model.ServerStats.DataSent</td>
        </tr>
        <tr>
            <td># of sites</td>
            <td>@Model.ServerStats.TotalSites</td>
        </tr>
    </table>
    
    <table class="table span5">
        <tr>
            <td>Average response time</td>
            <td>
                @if(Model.ServerStats.AverageResponeTime == 0)
                {
                    @:Not available
                } else
                {
                    @Model.ServerStats.AverageResponeTime@:ms    
                }
                
            </td>
        </tr>
        <tr>
            <td># of errors</td>
            <td>@Model.ServerStats.TotalErrors</td>
        </tr>
        <tr>
            <td>Unused application pools</td>
            <td>@Model.ServerStats.UnusedApplicationPools 
                @if(Model.ServerStats.UnusedApplicationPools > 0) {
                    <a href="/stats/cleanupapplicationpools/">(clean up)</a>
                }
            </td>
        </tr>
    </table>
</div>