@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.ActiveMenuItem = "home";
}

<h2 class="center">Welcome to <strong>Servant for IIS</strong></h2>
<hr/>
<h3 class="margin-top30">Today's big numbers</h3>  

<div class="margin-top10">
    @Model.TotalRequestsToday requests served<br/>
</div>

<hr/>

<h3>Latest errors</h3>
@if(Model.UnhandledExceptions.Count != 0)
{
    <table class="table table-striped margin-top10">
        @foreach(Servant.Business.Objects.ApplicationError error in Model.UnhandledExceptions) {
            <tr>
                <td>
                    <span class="nowrap-limit590">
                        @if(error.Site != null) {
                            @:<a href="/sites/@error.SiteIisId/stats/">@error.SiteIisId</a>: 
                            <a href="/sites/@error.SiteIisId/errors/@error.Id/">@error.Message</a>
                        } else {
                            @:Unknown:
                            <a href="/errors/@error.Id/">@error.Message</a>
                        }
                    </span>
                    <span class="time-diff pull-right">@error.DateTime</span>
                </td>
            </tr>
        }
    </table>
} else
{
    <p class="margin-top10">Awesome! Not a single error was found.</p>
}