﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    @if (Model.IsDevelopment)
    {
        <link href="/css/normalize.css" rel="stylesheet" />
        <link href="/css/base.css" rel="stylesheet" type="text/css" />
    }
    else
    {
        <link href="/css/servant.css" rel="stylesheet" type="text/css" />
    }
</head>
    <body>
        <div id="popup-message" class="error">
            <span>@Model.Message</span>
        </div>

        <div id="sidemenu">
            <div id="servername">
                <span class="sprite sprite-icon-stack"></span>
                <span>\\@Model.Page.Servername</span>
            </div>
            
            <div id="search">
                <input type="text" class="white" style="float:left;" /><input type="submit" value=""  />
            </div>
            
            <ul class="active-@ViewBag.ActiveMenuItem">
                <li class="home"><a href="/"><span class="sprite sprite-menu-icon-home"></span><span class="text">Home</span></a></li>
                <li class="sites">
                    <a href="#"><span class="sprite sprite-menu-icon-sites"></span><span class="text">Sites</span><span class="sprite sprite-icon-arrow-down arrow"></span></a>
                    
                    <ul>
                        <li class="bold@(Html.Raw(ViewBag.ActiveSiteName == "createnew" ? " active" : null))"><a href="/sites/create">Create new <span class="sprite sprite-small-add" style="float: none; position: relative; top:3px;"></span></a></li> 
                        @foreach (var site in Model.Page.Sites)
                        {
                            <li @Html.Raw(ViewBag.ActiveSiteName == site.Name ? " class=\"active\"" : null)>
                                <a href="/sites/@site.IisId/settings/">@site.Name</a>
                            </li>     
                        }
                    </ul>
                </li>
                <li class="settings"><a href="/settings/"><span class="sprite sprite-menu-icon-settings"></span><span class="text">Settings</span></a></li>
            </ul>
            <p id="copyright">Servant @Model.Version<br/> &copy; Copyright 2014 - 8seven</p>
        </div>
        <div id="maincontent">
            <div id="content-minwidth">
                @RenderBody()
            </div>
        </div>
        
        <script type="text/javascript">
            var Errors = @Html.Raw(Model.ErrorsAsJson);
            var message = "@Html.Raw(Model.Message)";
        </script>
    
        <script src="/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
        @if (Model.IsDevelopment)
        {
            <script src="/scripts/jquery.filtr.min.js"></script>
            <script src="/scripts/jquery.watermark.min.js"></script>
            <script src="/scripts/jquery.timeago.js"></script>
            <script src="/scripts/base.js" type="text/javascript"></script>
        }
        else
        {
            <script src="/scripts/servant.js" type="text/javascript"></script>    
        }
   
        @if (!Model.IsDevelopment && Model.AutoSendCrashReport)
        {
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-9004302-6', {
                    'cookieDomain': 'none',
                });
                ga('set', 'anonymizeIp', true);
                ga('set', 'dimension1', '@Model.InstallationGuid');
                ga('set', 'dimension2', '@Model.Version');
                ga('send', 'pageview');
                
            </script>
        }
        <script>
            var $popupMessage = $('#popup-message');
            @if (!string.IsNullOrWhiteSpace(Model.Message)) {
                @:$(function() {
                    @:$popupMessage.removeClass().addClass('@Model.MessageType.ToString().ToLower()');
                    @:$popupMessage.delay(200).slideDown();
                @:});
            }
        </script>

        @RenderSection("javascript", false)
    </body>
</html>