@using Servant.Business.Objects.Enums
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<table id="bindings" class="pushdown-short">
    @foreach(var binding in Model.Site.Bindings)
    {
        <tbody>
            <tr>
                <td>
                    <label for="bindingsuserinput">Binding</label>
                </td>
                <td><input type="text" name="bindingsuserinput" value="@binding.UserInput" style="width: 100%;" /></td>
                <td rowspan="3" style="width: 30px; text-align: center; padding-top: 15px; vertical-align: top;"><img src="/Images/icon-delete.png" class="remove-binding pointer @(((Model.Site.Bindings).Count) == 1 ? " hide" : "")" /></td>
            </tr>
            <tr class="certificate" style="@(binding.Protocol == Protocol.https ? "" : "display: none;")">
                <td><label>Certificate</label></td>
                <td>
                    <select style="width: 100%;" name="bindingscertificatename">
                        @foreach (var certificate in Model.Certificates)
                        {
                            <option @Html.Raw(binding.CertificateName == certificate ? " selected=\"selected\"" : null)>@certificate</option>
                        }
                    </select>
                </td>
            </tr>
            <tr class="last">
                <td style="width: 70px;"><label>IP</label></td>
                <td><input type="text" name="bindingsipaddress" value="@binding.IpAddress" style="width: 100%;" /></td>
            </tr>
        </tbody>
    }
</table>

<a href="#" class="add" id="add-binding">Add more</a>
