@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.ActiveMenuItem = "sites";
}

<h2>Websites - Create site</h2>

<form action="/sites/create/" method="POST">
    <h4 class="margin-top30">General</h4>
    
    <div class="margin-top10 control-group">
        <label for="sitename">Site name</label>
        <input type="text" class="input-medium span4" id="sitename" name="name" value="@Model.Site.Name" />
        
    </div>

    <div class="margin-top10 control-group">
        <label for="sitepath">Site path (i.e.: C:\Sites\MyWebsite\)</label>
        <input type="text" class="input-medium span4" id="sitepath" name="sitepath" value="@Model.Site.SitePath" />
    </div>
    
    <div class="margin-top10 control-group">
        <label for="applicationpool">Application pool</label>
        <select name="applicationpool" id="applicationpool" class="span4 input-medium">
            <option value="">Automatically create new</option>
            @foreach (var appPool in Model.ApplicationPools)
            {
                if(appPool == Model.Site.ApplicationPool)
                {
                    <option selected="selected">@appPool</option>
                } else {
                    <option>@appPool</option>
                }
                
            }   

        </select>
    </div>
    @Html.Partial("Bindings", Model.Site)
    
    <div class="margin-top30">
        <input type="submit" class="btn btn-primary" value="Create site" />
    </div>
</form>