@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Sites/_Details.cshtml";
    ViewBag.ActiveSubmenuItem = "errors";
}   

<h3>Exception details</h3>

<p class="margin-top30">
    @if (Model.Site == null)
    {
        @: This exception couldn't be attached to an IIS site 
    } else {
        @: This exception was thrown on the site <a href="/sites/@Model.Site.IisId/settings/">@Model.Site.Name</a>
    }
    on @Model.Exception.DateTime
</p>

<b>URL:</b> <a href="@Model.Exception.Url" target="_blank">@Model.Exception.Url</a>
<br/>
<b>Exception:</b> @Model.Exception.Message
<br/>
<b>Type:</b> @Model.Exception.ExceptionType
<br/>
<b>Client IP:</b> @Model.Exception.ClientIpAddress
<br/>
<b>Message:</b>
<pre>@Html.Raw(Model.Exception.FullMessage)</pre>
<br/>
<b>Thread information:</b>
<pre>@Html.Raw(Model.Exception.ThreadInformation)</pre>
