@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Sites/_Details.cshtml";
    ViewBag.Title = "Index";
    ViewBag.ActiveMenuItem = "sites";
    ViewBag.ActiveSubmenuItem = "stats";
}   

<h3>Logged request</h3>

<table class="table margin-top30">
    <tr>
        <td>URL:</td>
        <td>@Model.Request.Uri@Model.Request.Querystring</td>
    </tr>
    <tr>
        <td>Timestamp:</td>
        <td>@Model.Request.DateTime</td>
    </tr>
    <tr>
        <td>Agentstring:</td>
        <td>@Model.Request.Agentstring</td>
    </tr>
    <tr>
        <td>Username (if authenticated):</td>
        <td>@Model.Request.Username</td>
    </tr>
    <tr>
        <td>IP address:</td>
        <td>@Model.Request.ClientIpAddress</td>
    </tr>
</table>

