@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Sites/_Details.cshtml";
    ViewBag.ActiveMenuItem = "sites";
    ViewBag.ActiveSubmenuItem = "settings";
}   



<h4>Status</h4>
<p class="margin-top10">Site is currently <b>@Model.Site.State.ToString().ToLower()</b>.</p>
@if (Model.Site.State == Servant.Business.Objects.Enums.SiteState.Started)
{
    <form action="/sites/@Model.Site.IisId/stop/" method="POST" id="stop-site-form">
        <input type="submit" class="btn btn-danger" value="Stop site" class="margin-top10"/>
    </form>    
}
else
{
    <form action="/sites/@Model.Site.IisId/start/" method="POST">
        <input type="submit" class="btn btn-success" value="Start site" class="margin-top10"/>
    </form>    
}

<form action="/sites/@Model.Site.IisId/settings/" method="POST">
    <div class="row">
        <div class="span5">
            <h4 class="margin-top30">General</h4>
    
            <div class="margin-top10">
                <label for="sitename">Site name</label>
                <input type="text" class="input-medium span4" id="sitename" name="sitename" value="@Model.Site.Name" />
            </div>

            <div class="margin-top10">
                <label for="sitepath">Site path (i.e.: C:\Sites\MyWebsite\)</label>
                <input type="text" class="input-medium span4" id="sitepath" name="sitepath" value="@Model.Site.SitePath" />
            </div>
    
            <div class="margin-top10">
                <label for="logfilespath">Log files path</label>
                <input type="text" readonly="readonly" class="input-medium span4" id="logfilespath" name="logfilespath" value="@Model.Site.LogFileDirectory\W3SVC@(Model.Site.IisId)" />
            </div>
    
            <div class="margin-top10">
                <label for="applicationpool">Application pool</label>
                <select name="applicationpool" id="applicationpool" class="span4 input-medium">
                    @foreach (var appPool in Model.ApplicationPools)
                    {
                        if(appPool == Model.Site.ApplicationPool)
                        {
                            <option selected="selected">@appPool</option>
                        } else {
                            <option>@appPool</option>
                        }
                
                    }

                </select>
            </div>
        </div>
    
        <div class="span5">
            <h4 class="margin-top30">Bindings<img src="/images/icon_add.png" class="margin-left10 pointer" id="add-binding" /></h4>
            <p class="margin-top10">Example: <code>servant.io</code> or <code>servant.io:440</code></p>
            <table  id="bindings">
                @foreach (var binding in Model.Site.HttpBindings)
                {
                    <tr>
                        <td class="control-group"><input type="text" class="input-medium span4" name="bindings" value="@binding" /></td>
                        <td class="valign-top" style="padding-top: 7px;"><img src="/Images/icon_delete.png" class="remove-binding pointer @Html.Raw(Model.Site.HttpBindings.Length == 1 ? " hide" : "")" /></td>
                    </tr>
                }
            </table>
        </div>
        
        <div class="margin-top30 span10">
            <input type="submit" class="btn btn-primary" value="Save settings" />
        </div>
    </div>
</form>
 